src/main/mule/okta-user-create.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="post:\create:application\json:okta-api-setup-test-config" doc:id="dd94ec9a-9282-4208-8fbe-de4169fcb87c" >
		<logger level="INFO" doc:name="Logger" doc:id="97f2fb8d-d40e-47e6-94eb-9430631b4918" message="INCOMING REQUEST #### #[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="211c61e4-c71e-4100-b431-341809379848" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	profile: {
		email: payload.email,
		login: payload.loginId,
		mobilePhone: payload.phone
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="0398b441-eec4-4933-99de-21b4e759a29a" config-ref="HTTP_Request_configuration-common" path="/users?activate=false" target="activatePayload">
			<http:headers ><![CDATA[#[output application/java
---
{
	Authorization : "SSWS ${secure::extidpnfo.authkey}"
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="a7d0969f-b219-42bc-ba9a-65f8f224707d" message="Service Response #####: #[payload]"/>
		<set-variable value="#[vars.activatePayload.id]" doc:name="Set Variable" doc:id="9418fdfd-5081-49d7-a46e-0fd2d770d8b1" variableName="extUserId"/>
		<async doc:name="Async" doc:id="130bb532-8b4c-428a-9297-ffac8df44faa" >
			<flow-ref doc:name="Flow Reference" doc:id="9fb5cdd9-39fc-43f9-bde5-e289cfd2c8b8" name="post:\activate:application\json:okta-api-setup-test-config" target="activateFlowPayload" />
		</async>
		<ee:transform doc:name="Transform Message1" doc:id="0a1cf253-5da2-4189-9415-aa3107824911">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
var res = vars.activatePayload
---
{
	status: res.status,
	created: res.created,
	activated: res.activated,
	statusChanged: res.statusChanged,
	lastLogin: res.lastLogin,
	lastUpdated: res.lastUpdated,
	passwordChanged: res.passwordChanged,
	firstName: res.profile.firstName,
	lastName: res.profile.lastName,
	email: res.profile.email,
	login: res.profile.login,
	phone: res.profile.mobilePhone
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="okta-commom-error-handlerError_Handler"/>
		
	</flow>
</mule>
