src/main/mule/okta-api-setup-test.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="okta-api-setup-test-httpListenerConfig" basePath="/api/prc">
        <http:listener-connection host="0.0.0.0" port="8091"/>
    </http:listener-config>
    <apikit:config name="okta-api-setup-test-config" api="okta-api-setup-test.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <configuration-properties doc:name="Configuration properties" doc:id="e8162d87-74c9-40aa-8684-7994268ce714" file="dev.yaml" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="f5c680d4-f77c-496c-83c1-a4fc7a0fc1f2" file="dev.yaml" key="EWBC" >
		<secure-properties:encrypt algorithm="Blowfish"/>
	</secure-properties:config>
	<http:request-config name="HTTP_Request_configuration-common" doc:name="HTTP Request configuration" doc:id="cafb6259-f87b-4588-bdbb-84e0849cc519" basePath="/api/v1" >
		<http:request-connection protocol="HTTPS" host="${extidpnfo.url}" />
	</http:request-config>
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="9e19ccdf-915b-42e9-8295-cf8afd2b13c6"/>
	<api-gateway:autodiscovery apiId="19020380" ignoreBasePath="false" doc:name="API Autodiscovery" doc:id="b004c28d-40cc-48ae-b9ab-51b3e0ed5b82" flowRef="okta-api-setup-test-main" />
	<flow name="okta-api-setup-test-main">
        <http:listener config-ref="okta-api-setup-test-httpListenerConfig" path="/v1/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpcode default 500]" reasonPhrase='#[vars.httpmessage default "unknown"]'>
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="okta-api-setup-test-config" />
		<error-handler ref="okta-commom-error-handlerError_Handler"/>
		
        
    </flow>
    <flow name="okta-api-setup-test-console">
        <http:listener config-ref="okta-api-setup-test-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="okta-api-setup-test-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
</mule>
