src/main/mule/okta-mfa-challenge.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="post:\challenge:application\json:okta-api-setup-test-config" doc:id="2a42d469-5397-4a73-9d9c-1f1a220156ca" >
		<logger level="INFO" doc:name="Logger" doc:id="014cb30a-9e19-48fe-a567-cce4b7b87667" message="INCOMING PAYLOAD ##### #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="3a6a7661-b1ec-4fa2-b407-e42dd71e8490" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="6175462c-583a-42cd-956b-7927c9c7295f" name="okta-mfa-factor-flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="49b848ab-7df5-45b7-b047-f6be3aca7840" message="######### #[payload]"/>
		<choice doc:name="Choice" doc:id="9908cd25-bc01-4e2f-9cb1-24b954121501" >
			<when expression="!isEmpty(payload.id)">
				<set-variable value="#[payload.id]" doc:name="Set Variable" doc:id="7980154d-c49e-4453-a727-c9128fb9a797" variableName="factorId"/>
				<http:request method="POST" doc:name="Request" doc:id="29997c1c-81f9-41f0-bcc9-5994bda00fba" config-ref="HTTP_Request_configuration-common" path="/users/{userid}/factors/{factorId}/verify">
			<http:body ><![CDATA[#[null]]]></http:body>
					<http:headers><![CDATA[#[output application/java
---
{
	Authorization : "SSWS ${secure::extidpnfo.authkey}"
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	factorId : payload.id,
	userid : vars.userInfo.userId
}]]]></http:uri-params>
		</http:request>
				<ee:transform doc:name="Transform Message" doc:id="473eeebb-0f13-4063-b180-677459f539da" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"factorResult": payload.factorResult,
    "userId" : vars.userInfo.userId,
    "factorId" : vars.factorId
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="ec1b581f-ebd4-4182-8f73-a1477583d67b" message="Inside Create factor" />
				<set-variable value="400" doc:name="Set Variable" doc:id="f8bc73f6-37cf-48d4-9606-48a39fcc098b" variableName="httpcode" />
				<set-variable value="Invalid data" doc:name="Set Variable1" doc:id="7916ac26-c08a-49fd-85d8-c1c3aa44c521" variableName="httpmessage" />
				<ee:transform doc:name="Transform Message" doc:id="593503d0-3105-4b86-8721-a1e7e88b3a94" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	errorcode : "INVLUSER0001",
	errormessage : "USER NOT FOUND TO INITIATE MFA"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler  ref="okta-commom-error-handlerError_Handler"/>
	</flow>
	<sub-flow name="okta-mfa-factor-flow" doc:id="bdc0e83c-c25c-4a41-8cbc-aa42358e78f7" >
	
		<logger level="INFO" doc:name="Logger" doc:id="57e8d5ed-c881-45cf-93f3-3d219ee4f6f0" message="INSIDE ACTIVATE DEFAULT BLOCK ######## #[payload]"/>
				<set-variable value="#[payload.loginId]" doc:name="Set Variable" doc:id="e184db0f-361f-4c9c-87ac-4523dc5872fd" variableName="loginFromReq"/>
				<flow-ref doc:name="Invoke Search Flow" doc:id="efcb1da8-9e41-478d-b883-d923953b83d0" name="get:\search\(loginid):okta-api-setup-test-config"/>
				<logger level="INFO" doc:name="Logger" doc:id="2d8ab421-d94e-45f5-b677-f20b3d9391e2" message="Search Respose after Invoke flow #### #[payload]" />
		<set-variable value='#[%dw 2.0&#10;output application/json&#10;&#10;var reqRec = payload filter ((item, index) -&gt; item.login == vars.loginFromReq )&#10;&#10;---&#10;{&#10;	userId : reqRec.extId[0],&#10;	phone : reqRec.mobilePhone[0]&#10;}]' doc:name="Set User Object" doc:id="a5fb5d10-25d3-407e-8ceb-72c52224e60a" variableName="userInfo"/>
				<choice doc:name="Choice" doc:id="0acfcbec-0168-4cec-b13e-2e9d7ec8814e" >
					<when expression="#[!isEmpty(vars.userInfo.userId)]">
						<flow-ref doc:name="Get Existing factors" doc:id="b5137e94-78ef-4d40-b96d-a4f84aae3100" name="okta-user-list-factors-Sub_Flow" target="existingFacResPayload"/>
						<set-variable value='#[%dw 2.0&#10;output application/json&#10;&#10;var reqRec = vars.existingFacResPayload filter ((item, index) -&gt; item.factorType == "sms" )&#10;var recid = reqRec.id[0]&#10;---&#10;recid]' doc:name="Get SMS factor Id" doc:id="5572391c-da2f-4fcf-ba50-6cacdebbe0a5" variableName="smsfactorId"/>
						<choice doc:name="Choice" doc:id="18fe0c26-ffb6-4e0b-9953-1e799adfc6bc">
							<when expression="#[isEmpty(vars.smsfactorId)]">
								<logger level="INFO" doc:name="Logger" doc:id="ab463a7d-5ce5-4fa3-aebe-0d8563926489" message="### INSDIE FACTOR ENROLL WITH FACTOR ID ### #[vars.smsfactorId]" />
								<flow-ref doc:name="Invoke enroll Factor Flow" doc:id="c6e396b5-6710-4fe0-9f02-08dd8ef9f60d" name="okta-user-mfa-enroll-Sub_Flow" />
							</when>
							<otherwise >
								<logger level="INFO" doc:name="Logger" doc:id="93f96699-56e2-4815-9728-65a0b7be3a84" message="### INSDIE EXISTING FACTOR  FACTOR ID ### #[vars.smsfactorId]"/>
						<ee:transform doc:name="Transform Message" doc:id="5f425e1b-83b9-4df6-a71b-0ddaeafa849b">
									<ee:message>
										<ee:set-payload><![CDATA[%dw 2.0
output application/json
var reqRec = vars.existingFacResPayload filter ((item, index) -> item.factorType == "sms" )
---
reqRec[0]]]></ee:set-payload>
									</ee:message>
								</ee:transform>
							</otherwise>
						</choice>
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Logger" doc:id="cef7d9bb-7681-4651-885e-6fad811d9431" message="Inside Create factor"/>
						<set-variable value="400" doc:name="Set Variable" doc:id="6306b19c-21b6-4cb8-8abe-61d3384a066c" variableName="httpcode"/>
						<set-variable value="Invalid data" doc:name="Set Variable" doc:id="862f051b-f62c-4b7d-bcf1-1ca16804c848" variableName="httpmessage"/>
						<ee:transform doc:name="Transform Message" doc:id="70e99a0d-e2f6-41f4-8535-4e38673579b1" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	errorcode : "INVLUSER0001",
	errormessage : "USER NOT FOUND TO INITIATE MFA"
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
	</sub-flow>
	<sub-flow name="okta-user-list-factors-Sub_Flow" doc:id="117589fc-81ae-47f5-8117-d4a548cfa8b7" >
		<logger level="INFO" doc:name="Logger" doc:id="c350549e-8f56-42f9-899a-2915b0fd7197" message="Before invoke factors list ######"/>
		<http:request method="GET" doc:name="Request" doc:id="dc1c1f0c-2400-4aa9-8f9f-c71b8c21f784" config-ref="HTTP_Request_configuration-common" path="/users/{userId}/factors">
			<http:body ><![CDATA[payload]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	Authorization : "SSWS ${secure::extidpnfo.authkey}"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	userId : vars.userInfo.userId
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="95636f89-dd25-4724-874e-b7ea8e0352c3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="okta-user-mfa-enroll-Sub_Flow" doc:id="a9c38216-4aab-45b2-8ecb-de659bd0123e" >
		<logger level="INFO" doc:name="Logger" doc:id="edfeec79-7044-47d0-9c92-731816c0738d" message="BEFORE ENROLL SMS FACTOR #####"/>
		<ee:transform doc:name="Transform Message" doc:id="589bd48e-77e0-41f5-9597-035982d28004" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "factorType": "sms",
  "provider": "OKTA",
  "profile": {
    "phoneNumber": vars.userInfo.phone
   }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="d354a4c2-9a0d-4a8a-929f-2601370f2ec3" config-ref="HTTP_Request_configuration-common" path="/users/{userId}/factors?activate=true">
			<http:headers ><![CDATA[#[output application/java
---
{
	Authorization : "SSWS ${secure::extidpnfo.authkey}"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	userId : vars.userInfo.userId
}]]]></http:uri-params>
		</http:request>
	</sub-flow>
</mule>
