src/main/mule/okta-mfa-verify.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="post:\verify\(loginid):application\json:okta-api-setup-test-config" doc:id="3e86ef7e-7030-442a-9af6-516e36aece1a" >
		<logger level="INFO" doc:name="Logger" doc:id="98f00b59-8939-48a2-8629-cc3efe04ec94" message="INCOMING REQUEST FOR VERIFY ##### #[payload]"/>
		<http:request method="POST" doc:name="Request" doc:id="c359720b-2f8f-4b9b-8a10-d0d5091c880f" config-ref="HTTP_Request_configuration-common" path="/users/{userid}/factors/{factorId}/verify">
			<http:body ><![CDATA[#[%dw 2.0
output application/json
---
{
	passCode : payload.passcode
}]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	Authorization : "SSWS ${secure::extidpnfo.authkey}"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	factorId : payload.factorId,
	userid : payload.userId
}]]]></http:uri-params>
		</http:request>
		<error-handler ref="okta-commom-error-handlerError_Handler"/>
	</flow>
</mule>
